# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/
build/
mxlibrary/mxlibrary.iml
mxtheme/mxtheme.iml
Launcher3-master.iml

effectivecard/effectivecard.iml
launcherclient/launcherclient.iml
