<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codemx.effectivecard">

    <application>
        <service
            android:name="com.codemx.effectivecard.CardService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.codemx.launcher3.WINDOW_OVERLAY" />
            </intent-filter>
        </service>
    </application>

</manifest>
